<!DOCTYPE html>
<html>
<title>Lets Game</title>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/base.css">
</head>
<body>
<div id ="title">Lets Game...!!</div>
<hr/>
<div id ="signin">
{% if user.is_authenticated %}

Welcome <b>{{ user.id }}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


     <a href="{{ url_for('dashboard') }}"> Dashboard </a> |
    <a href="{{ url_for('openfixtures') }}"> Open Fixtures </a> |
    <a href="{{ url_for('sendfixature') }}"> New Fixture </a> |

    <a href="{{ url_for('logout') }}"> Sign out</a>
{% else %}
<a href="{{ url_for('login') }}"> Sign in</a> |
    <a href="{{ url_for('signup') }}"> Sign Up </a>
{% endif %}
    </div>

<div id ="flash">
{% with messages = get_flashed_messages() %}
{%if messages %}

<ul>
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
    </div>
<br/><br/><br/>

{% block content %}{% endblock %}
</body>


</html>