{%extends "base.html"%}
{% block content %}

<div id ="reports" align="center">

    <div id ="title">
        <br/>
        <b><i>Custom Reports</i></b></div>
    <br/>
<form action="" method="post">
    Select Device :
    <select name ="device_value">
        {% for eachval in dev_dd_list %}
        <option value={{ eachval[1] }}>{{ eachval[0] }}</option>
        {% endfor %}
</select>

    X-Axis :
    <select name ="x_value">
        {% for eachval in x_axis %}
        <option value={{ eachval }}>{{ eachval }}</option>
        {% endfor %}
</select>

    Y-Axis :
    <select name ="y_value">
        {% for eachval in y_axis %}
        <option value={{ eachval }}>{{ eachval }}</option>
        {% endfor %}
</select>

    <button type="submit">Generate Chart</button>


</form>
    <br/>

    <div id ="Charts" align="center">

    {% for eachchart in charts %}

    <div id ="title">
        <br/>
        Custom Graph for <b><i>{{ eachchart[2][0] }} </b></i>- {{ x }} vs {{ y }} </div>

    <canvas id={{ eachchart[3][0] }} width="1600" height="650"></canvas>
    <script>
      // bar chart data
      var barData = {
        labels : [
          {% for item in eachchart[0] %}
            "{{ item[0] }}",
          {% endfor %}
        ],
        datasets : [{
          fillColor: "rgba(242,252,207,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [
	    {% for item in eachchart[0] %}
              {{ item[1] }},
            {% endfor %}]
          }
	]
      }
      Chart.defaults.global.animationSteps = 100;
      Chart.defaults.global.tooltipYPadding = 10;
      Chart.defaults.global.tooltipCornerRadius = 10;
      Chart.defaults.global.tooltipTitleFontStyle = "normal";
      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
      Chart.defaults.global.animationEasing = "easeOutBounce";
      Chart.defaults.global.responsive = false;
      Chart.defaults.global.scaleLineColor = "black";
      Chart.defaults.global.scaleFontSize = 15;
      // get bar chart canvas
      var mychart = document.getElementById({{ eachchart[3][0] }}).getContext("2d");
      steps = 10
      max = {{ eachchart[1][0] }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: false,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        pointHitDetectionRadius : 2,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: true,
      });
    </script>

    {% endfor %}

  </div>

</div>

{% endblock %}